@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

* {
  box-sizing: border-box;
}

:root {
  min-height: 100vh;
  font-family: 'Gamja Flower', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: 400;

  background: rgb(0,19,31);
  background: linear-gradient(180deg, rgba(0,19,31,1) 10%, rgba(0,109,176,1) 100%);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  // background-color: #FFF8E7;
}

body {
  margin: 0;
  text-align: center;
  color: #e6ddf9;
  background-color: #FFF8E7;
}
